html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: hsl(257, 40%, 49%);
  min-width: 375px;
  margin: 0 auto;
}

@media screen and (orientation:landscape) {
  body {
    max-width: 1440px;
  }
}

header {
  padding: 3.3rem 0 0 3.4rem;
  margin-bottom: 4rem;
}

@media screen and (orientation:landscape) {
  header {
    padding: 5.4rem 0 0 7rem;
    margin-bottom: 1.1rem;
  }
}

.logo {
  width: 12.8rem;
}

@media screen and (orientation:landscape) {
  .logo {
    width: 21.5rem;
  }
}

.bg-image-behave {
  background: url("../images/bg-mobile.svg") no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (orientation:landscape) {
  .bg-image-behave {
    background: url("../images/bg-desktop.svg") no-repeat;
  }

  .bg-image-behave::after { /*Only for landscape since portrait doesn't use float*/
    content: "";
    display: block;
    clear: both;
    margin: 100px;
  }
}

.image {
  box-sizing:border-box;
  width: 80%;
  margin: 5% 10% 4.1rem 10%;
}

@media screen and (orientation:landscape){
  .image {
    float: left;
    width: 54.3%;
    padding: 7.2rem 0 0 7.2rem;
    margin: 0;
  }
}

@media screen and (orientation:landscape){
  .wraptainer {
    float: right;
    width: 42%;
    padding-top: 11.5rem;
  }
}

.headline {
  color: hsl(0, 0%, 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
  padding: 0 10%;
  margin-bottom: 1.2rem;
}

@media screen and (orientation:landscape) {
  .headline {
    font-size: 4rem;
    letter-spacing: 0.02rem;
    line-height: 6rem;
    text-align: left;
    padding: 0;
    margin: 0 0 2rem 0;
  }
}

.text {
  color: hsl(0, 0%, 100%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  padding: 0 10%;
  margin: 0 auto 2.5rem;
}

@media screen and (orientation:landscape) {
  .text {
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
    margin: 0 8rem 2.1rem 0;
  }
}

.button {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #684BB1;
  background-color: hsl(0, 0%, 100%);
  border: none;
  box-shadow: 2px 4px 9px 3px hsla(0, 0%, 0%, 0.26);
  width: 20rem;
  height: 4rem;
  margin: 0 auto 6.3rem;
  border-radius: 2.8rem;
}

@media screen and (orientation:landscape) {
  .button {
    font-size: 1.8rem;
    height: 5.6rem;
    margin: 0;
    margin-bottom: 18.3rem;
  }
}

.social-icon_container { /* Positioned by .button margin-bottom value */
  clear: both;
  position: relative;
  height: 3rem;
}

.social-icon {
  position: absolute;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2.2;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  text-align: center;
}

@media screen and (orientation:landscape) {
  .social-icon {
    font-size: 2rem;
    line-height: 2;
    height: 4rem;
    width: 4rem;
  }
}

.fb-pos {
  left: 50%;
  margin-left: -5.3rem;
}

.twi-pos {
  left: 50%;
  margin-left: -1.5rem;
}

.ig-pos {
  left: 50%;
  margin-left: 2.4rem;
}

@media screen and (orientation:landscape) {
  .fa-twitter{
    font-size: 1.7rem;
    line-height: 2.3;
  }

  .fb-pos {
    left: initial;
    right: 19.2rem;
    margin-left: initial;
  }

  .twi-pos {
    left: initial;
    right: 13.6rem;
    margin-left: initial;
  }

  .ig-pos {
    left: initial;
    right: 8rem;
    margin-left: initial;
  }
}

.attribution {
  font-size: 11px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin:2.5rem;
}

@media screen and (orientation:landscape){
  .attribution{
    margin:initial;
  }
}

.attribution a {
  color: hsl(0, 0%, 100%);
}

/*Queries to keep primary content visible on low-height screens */
@media screen and (max-height:770px) {
  .button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height:710px) {
  header {
    padding: 1% 9%;
  }

  .image {
    margin-bottom: 0;
  }
}

@media screen and (max-height:590px) {
  header {
    padding: 1% 9% 0%;
  }

  .headline {
    margin: 0.3rem 0
  }

  .text {
    margin-bottom: 1rem
  }

  .image {
    margin-top: 0;
  }
}

@media screen and (max-height:500px) {
  .text {
    font-size: 1.4rem;
  }
}
