html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: hsl(257, 40%, 49%);
  min-width: 375px;
  margin: 0 auto;
}

@media screen and (orientation:landscape) {
  body {
    max-width: 1440px;
  }
}

header {
  padding: 3.3rem 0 0 3.4rem;
  margin-bottom: 4rem;
}

@media screen and (orientation:landscape) {
  header {
    padding: 5.4rem 0 0 7rem;
    margin-bottom: 1.1rem;
  }
}

.logo {
  width: 12.8rem;
}

@media screen and (orientation:landscape) {
  .logo {
    width: 21rem;
  }
}

.bg-image-behave {
  background: url("../images/bg-mobile.svg") no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (orientation:landscape) {
  .bg-image-behave {
    background: url("../images/bg-desktop.svg") no-repeat;
  }

  .bg-image-behave::after {
    content: "";
    display: block;
    clear: both;
    margin: 100px;
  }
}

.image {
  margin: 5% 10%;
  width: 80%;
  margin-bottom: 4.1rem;
}

@media screen and (orientation:landscape) {
  .image {
    float: left;
    padding: 7.2rem 0 0 7.2rem;
    width: 71rem;
    margin: 0;
  }
}


@media screen and (orientation:landscape) {
  .wraptainer {
    float: right;
    width: 60.5rem;
    padding-top: 11.6rem;
  }
}

.sicons {
  clear: both;
}

.headline {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
  padding: 0 10%;
  margin-bottom: 1.2rem;
}

@media screen and (orientation:landscape) {
  .headline {
    font-size: 4rem;
    letter-spacing: 0.02rem;
    margin: 0 0 2rem 0;
    line-height: 6rem;
    padding: 0;
    text-align: left;
  }
}

.text {
  color: white;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  padding: 0 10%;
  margin: 0 auto 2.5rem;
}

@media screen and (orientation:landscape) {
  .text {
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
    margin: 0 9rem 2.3rem 0;
  }
}

.action-button {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #684BB1;
  border: none;
  width: 20rem;
  height: 4rem;
  margin: 0 auto 6.3rem;
  border-radius: 2.8rem;
}

@media screen and (orientation:landscape) { /*Sure creates a lot of extra lines*/
  .action-button {
    font-size: 1.8rem;
    height: 5.6rem;
    margin: 0 0 18.3rem;
    /*hmm?? Should I use another div?*/
  }
}

.sicons { /*positioned horisontally with .action-button bottom-margin*/
  height: 3rem;
  position: relative;
}

.social-icon {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
  height: 2.8rem;
  width: 2.8rem;
  line-height: 2.7rem;
  /*Convert to unitless*/
  text-align: center;
}

@media screen and (orientation:landscape) {
  .social-icon {
    font-size: 2.0rem;
    line-height: 4.0rem;
    height: 4.0rem;
    width: 4.0rem;
  }
}

.fb-pos {
  left: 50%;
  margin-left: -5.3rem;
}

.twi-pos {
  left: 50%;
  margin-left: -1.5rem;
}

.ig-pos {
  left: 50%;
  margin-left: 2.4rem;
}

@media screen and (orientation:landscape) {
  .fb-pos {
    left: initial;
    right: 19.4rem;
    margin-left: initial;
  }

  .twi-pos {
    left: initial;
    right: 13.5rem;
    margin-left: initial;
  }

  .ig-pos {
    left: initial;
    right: 8rem;
    margin-left: initial;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}








/*Queries for low-height screens, ignore these, it's just me playing around */
@media screen and (max-height:770px) {
  .action-button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height:710px) {
  header {
    padding: 1% 9%;
  }

  .image {
    margin-bottom: 0;
  }
}

@media screen and (max-height:590px) {
  header {
    padding: 1% 9% 0%;
  }

  .headline {
    margin: 0.3rem 0
  }

  .text {
    margin-bottom: 1rem
  }

  .image {
    margin-top: 0;
  }
}

@media screen and (max-height:500px) {
  .text {
    font-size: 1.4rem;
  }
}
